## Supervised Machine Learning on DonorChoose.org Data

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd

spark = SparkSession.builder.appName('ReadData').getOrCreate()
sc = spark.sparkContext
from pyspark.sql import HiveContext
hive_context = HiveContext(sc)

In [3]:
df = hive_context.table("donor.final_projects_joined")

In [4]:
df.show(2)

+--------------------+--------------------+--------------------+-----------+------------+------------------+----------------+------------+-----------------+----------------+--------------+----------------------+-------------------+-------------------+--------------------+--------------------+-----------------+-----------------+----------------------------+------------+----------+-----------+-------------+--------------------+-------------------+-------------------+--------------------------+--------------------+------------------------+--------------+---------------------------------+-------------+------------------+-----------------+---------------------+
|          project_id|           school_id|          teacher_id|project_seq|project_type|project_grad_level|project_resource|project_cost|project_post_date|project_exp_date|project_status|project_full_fund_date|       project_cat1|       project_cat2|     project_subcat1|     project_subcat2|      school_name|school_metro_type|school_percentage_free_lunch|school_state|school_zip|school_city|school_county|     school_district|donation_amount_sum|number_of_donations|number_of_resources_needed|resources_amount_sum|resources_total_quantity|teacher_prefix|teacher_first_project_posted_date|days_diff_exp|month_of_post_date|year_of_post_date|teacher_date_diff_exp|
+--------------------+--------------------+--------------------+-----------+------------+------------------+----------------+------------+-----------------+----------------+--------------+----------------------+-------------------+-------------------+--------------------+--------------------+-----------------+-----------------+----------------------------+------------+----------+-----------+-------------+--------------------+-------------------+-------------------+--------------------------+--------------------+------------------------+--------------+---------------------------------+-------------+------------------+-----------------+---------------------+
|c48e459e1e5ae4cf1...|68dc165a97358a9cc...|002e3eeabdd2cbcc7...|          6| Teacher-Led|       Grades 9-12|           Books|      698.15|       2017-11-28|      2018-03-28|  Fully Funded|            2018-03-27|Literacy & Language|Literacy & Language|Literature & Writing|Literature & Writing|Olton High School|            rural|                        80.0|       Texas|     79064|      Olton|         Lamb|Olton Ind School ...|               99.0|                  1|                        25|   202.4700002670288|                    72.0|          Mrs.|                       2017-01-16|          120|                11|             2017|                  436|
|471447eb84d22f7f5...|68dc165a97358a9cc...|002e3eeabdd2cbcc7...|          1| Teacher-Led|       Grades 9-12|           Books|      294.95|       2017-01-16|      2017-05-25|  Fully Funded|            2017-02-05|Literacy & Language|Literacy & Language|Literature & Writing|Literature & Writing|Olton High School|            rural|                        80.0|       Texas|     79064|      Olton|         Lamb|Olton Ind School ...| 125.36000061035156|                  1|                         6|  43.489999771118164|                    30.0|          Mrs.|                       2017-01-16|          129|                 1|             2017|                  129|
+--------------------+--------------------+--------------------+-----------+------------+------------------+----------------+------------+-----------------+----------------+--------------+----------------------+-------------------+-------------------+--------------------+--------------------+-----------------+-----------------+----------------------------+------------+----------+-----------+-------------+--------------------+-------------------+-------------------+--------------------------+--------------------+------------------------+--------------+---------------------------------+-------------+------------------+-----------------+---------------------+
only showing top 2 rows

In [4]:
df = df.drop('project_seq','project_id','school_id','teacher_id','project_post_date','project_exp_date',
                                       'project_full_fund_date','school_name','school_city','school_district',
                                       'school_county','school_zip','donation_amount_sum','number_of_donations',
                                       'teacher_first_project_posted_date','project_cat2','project_subcat2')

In [5]:
df = df.withColumn('month_of_post_date',df.month_of_post_date.cast('string'))
df = df.withColumn('year_of_post_date',df.year_of_post_date.cast('string'))

In [6]:
df.dtypes

[('project_type', 'string'),
 ('project_grad_level', 'string'),
 ('project_resource', 'string'),
 ('project_cost', 'float'),
 ('project_status', 'string'),
 ('project_cat1', 'string'),
 ('project_subcat1', 'string'),
 ('school_metro_type', 'string'),
 ('school_percentage_free_lunch', 'float'),
 ('school_state', 'string'),
 ('number_of_resources_needed', 'bigint'),
 ('resources_amount_sum', 'double'),
 ('resources_total_quantity', 'double'),
 ('teacher_prefix', 'string'),
 ('days_diff_exp', 'int'),
 ('month_of_post_date', 'string'),
 ('year_of_post_date', 'string'),
 ('teacher_date_diff_exp', 'int')]

In [7]:
null_count = df.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns)).toPandas()
null_count.T

                              0
project_type                  0
project_grad_level            0
project_resource              0
project_cost                  0
project_status                0
project_cat1                  0
project_subcat1               0
school_metro_type             0
school_percentage_free_lunch  0
school_state                  0
number_of_resources_needed    0
resources_amount_sum          0
resources_total_quantity      0
teacher_prefix                0
days_diff_exp                 0
month_of_post_date            0
year_of_post_date             0
teacher_date_diff_exp         0

#### Categorical Features

In [8]:
cat_features = [t[0] for t in df.dtypes if t[1] == 'string']

In [9]:
cat_features = set(cat_features) - set(['project_status'])
cat_features = list(cat_features)

In [10]:
cat_features

['teacher_prefix',
 'project_resource',
 'project_cat1',
 'school_state',
 'project_grad_level',
 'year_of_post_date',
 'project_type',
 'school_metro_type',
 'project_subcat1',
 'month_of_post_date']

In [11]:
for i in cat_features:
    print(df.groupBy(i).count().show())

+--------------+------+
|teacher_prefix| count|
+--------------+------+
|           Ms.|383778|
|       Teacher| 14160|
|           Mr.|115610|
|          Mrs.|544075|
|           Dr.|   270|
|           Mx.|    59|
+--------------+------+

None
+--------------------+------+
|    project_resource| count|
+--------------------+------+
|Reading Nooks Des...| 10448|
|Sports & Exercise...|  5558|
| Computers & Tablets| 22892|
|Food Clothing & H...|  4817|
|            Supplies|382818|
|    Classroom Basics|  9386|
|               Other| 66515|
|        Art Supplies|  7013|
|               Books|177502|
|Educational Kits ...| 17431|
|Instructional Tec...| 14936|
|       Lab Equipment|  5833|
|               Trips| 19136|
|            Visitors|  2756|
|          Technology|296747|
|    Flexible Seating| 10839|
| Musical Instruments|  3325|
+--------------------+------+

None
+-------------------+------+
|       project_cat1| count|
+-------------------+------+
|   History & Civics| 49846|
|   Applied Learning|122314|
|     Math & Science|249963|
|    Health & Sports| 65721|
|             Warmth|  9756|
|Literacy & Language|466265|
|   Music & The Arts| 56915|
|      Special Needs| 37172|
+-------------------+------+

None
+-------------+-----+
| school_state|count|
+-------------+-----+
|         Utah|16331|
|       Hawaii| 6780|
|    Minnesota|11088|
|         Ohio|21685|
|     Arkansas|10425|
|       Oregon|12845|
|        Texas|78256|
| North Dakota| 1165|
| Pennsylvania|28742|
|  Connecticut|15763|
|     Nebraska| 2933|
|      Vermont| 1193|
|       Nevada|12045|
|   Washington|22821|
|     Illinois|46742|
|     Oklahoma|23814|
|     Delaware| 3301|
|       Alaska| 3617|
|   New Mexico| 4949|
|West Virginia| 4780|
+-------------+-----+
only showing top 20 rows

None
+------------------+------+
|project_grad_level| count|
+------------------+------+
|        Grades 6-8|173343|
|           unknown|    46|
|        Grades 3-5|347275|
|       Grades 9-12|126982|
|     Grades PreK-2|410306|
+------------------+------+

None
+-----------------+------+
|year_of_post_date| count|
+-----------------+------+
|             2016|242803|
|             2017|268499|
|             2014|157305|
|             2013|124893|
|             2018| 87014|
|             2015|177438|
+-----------------+------+

None
+--------------------+-------+
|        project_type|  count|
+--------------------+-------+
|         Teacher-Led|1040941|
|Professional Deve...|   9634|
|         Student-Led|   7377|
+--------------------+-------+

None
+-----------------+------+
|school_metro_type| count|
+-----------------+------+
|          unknown| 85711|
|         suburban|323102|
|             town| 48942|
|            rural|106846|
|            urban|493351|
+-----------------+------+

None
+--------------------+------+
|     project_subcat1| count|
+--------------------+------+
|                 ESL| 47654|
|         Team Sports|  7883|
|       Gym & Fitness| 23069|
|Environmental Sci...| 47973|
|   Community Service|  4252|
|   Health & Wellness| 33381|
|  Parent Involvement|  1185|
|     Extracurricular|  7157|
|   Foreign Languages|  9010|
|   Early Development| 44093|
|              Warmth|  9756|
|               Other| 14752|
|Literature & Writing|117968|
| Civics & Government|  8414|
|    Applied Sciences|106649|
|               Music| 31125|
|         Mathematics| 68082|
|  Financial Literacy|  4450|
| Nutrition Education|  1388|
|     Performing Arts|  6030|
+--------------------+------+
only showing top 20 rows

None
+------------------+------+
|month_of_post_date| count|
+------------------+------+
|                 7| 66143|
|                11| 92334|
|                 3|101580|
|                 8|135298|
|                 5| 51865|
|                 6| 48123|
|                 9|153056|
|                 1| 92949|
|                10|106188|
|                 4| 61701|
|                12| 66753|
|                 2| 81962|
+------------------+------+

None

In [12]:
#replace unknown in df
replace_str = udf(lambda x: x.replace('unknown','Grades PreK-2'))
df = df.withColumn('project_grad_level',replace_str('project_grad_level'))

In [13]:
#replace unknown in df
replace_str = udf(lambda x: x.replace('unknown','suburban'))
df = df.withColumn('school_metro_type',replace_str('school_metro_type'))

In [14]:
df.groupBy('school_metro_type').count().show()

+-----------------+------+
|school_metro_type| count|
+-----------------+------+
|         suburban|408813|
|             town| 48942|
|            rural|106846|
|            urban|493351|
+-----------------+------+

In [36]:
df.groupBy('project_grad_level').count().show()

+------------------+------+
|project_grad_level| count|
+------------------+------+
|        Grades 6-8|173343|
|        Grades 3-5|347275|
|       Grades 9-12|126982|
|     Grades PreK-2|410352|
+------------------+------+

#### Numeric Columns

In [15]:
numeric_features = set(df.columns) - set(cat_features) - set(['project_status'])
numeric_features = list(numeric_features)
numeric_features

['resources_total_quantity',
 'resources_amount_sum',
 'days_diff_exp',
 'number_of_resources_needed',
 'teacher_date_diff_exp',
 'project_cost',
 'school_percentage_free_lunch']

In [16]:
numeric_features

['resources_total_quantity',
 'resources_amount_sum',
 'days_diff_exp',
 'number_of_resources_needed',
 'teacher_date_diff_exp',
 'project_cost',
 'school_percentage_free_lunch']

#### One Hot Encoding Variables

In [17]:
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler

categoricalColumns = cat_features
stages = []
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]
label_stringIdx = StringIndexer(inputCol = 'project_status', outputCol = 'label')
stages += [label_stringIdx]
numericCols = numeric_features
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [18]:
cols = cat_features + numeric_features + ['project_status']

In [19]:
cols

['teacher_prefix',
 'project_resource',
 'project_cat1',
 'school_state',
 'project_grad_level',
 'year_of_post_date',
 'project_type',
 'school_metro_type',
 'project_subcat1',
 'month_of_post_date',
 'resources_total_quantity',
 'resources_amount_sum',
 'days_diff_exp',
 'number_of_resources_needed',
 'teacher_date_diff_exp',
 'project_cost',
 'school_percentage_free_lunch',
 'project_status']

In [20]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df)
ml_df = pipelineModel.transform(df)
selectedCols = ['label', 'features'] + cols
ml_df = ml_df.select(selectedCols)
ml_df.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- teacher_prefix: string (nullable = true)
 |-- project_resource: string (nullable = true)
 |-- project_cat1: string (nullable = true)
 |-- school_state: string (nullable = true)
 |-- project_grad_level: string (nullable = true)
 |-- year_of_post_date: string (nullable = true)
 |-- project_type: string (nullable = true)
 |-- school_metro_type: string (nullable = true)
 |-- project_subcat1: string (nullable = true)
 |-- month_of_post_date: string (nullable = true)
 |-- resources_total_quantity: double (nullable = true)
 |-- resources_amount_sum: double (nullable = true)
 |-- days_diff_exp: integer (nullable = true)
 |-- number_of_resources_needed: long (nullable = true)
 |-- teacher_date_diff_exp: integer (nullable = true)
 |-- project_cost: float (nullable = true)
 |-- school_percentage_free_lunch: float (nullable = true)
 |-- project_status: string (nullable = true)

In [21]:
ml_df.show(20)

+-----+--------------------+--------------+--------------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+
|label|            features|teacher_prefix|    project_resource|       project_cat1|school_state|project_grad_level|year_of_post_date|project_type|school_metro_type|     project_subcat1|month_of_post_date|resources_total_quantity|resources_amount_sum|days_diff_exp|number_of_resources_needed|teacher_date_diff_exp|project_cost|school_percentage_free_lunch|project_status|
+-----+--------------------+--------------+--------------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+
|  0.0|(136,[0,7,21,29,8...|          Mrs.|               Books|Literacy & Language|       Texas|       Grades 9-12|             2017| Teacher-Led|            rural|Literature & Writing|                11|                    72.0|   202.4700002670288|          120|                        25|                  436|      698.15|                        80.0|  Fully Funded|
|  0.0|(136,[0,7,21,29,8...|          Mrs.|               Books|Literacy & Language|       Texas|       Grades 9-12|             2017| Teacher-Led|            rural|Literature & Writing|                 1|                    30.0|  43.489999771118164|          129|                         6|                  129|      294.95|                        80.0|  Fully Funded|
|  0.0|(136,[0,14,21,29,...|          Mrs.|Reading Nooks Des...|Literacy & Language|       Texas|       Grades 9-12|             2018| Teacher-Led|            rural|Literature & Writing|                 3|                     2.0|  314.99000549316406|          120|                         2|                  532|      411.42|                        80.0|  Fully Funded|
|  0.0|(136,[0,7,21,29,8...|          Mrs.|               Books|Literacy & Language|       Texas|       Grades 9-12|             2017| Teacher-Led|            rural|Literature & Writing|                 7|                    50.0|   70.29999923706055|          122|                         7|                  317|      424.45|                        80.0|  Fully Funded|
|  0.0|(136,[2,6,25,30,7...|           Mr.|          Technology|   Music & The Arts|    New York|        Grades 6-8|             2013| Teacher-Led|            urban|         Visual Arts|                12|                    24.0|   91.70000076293945|          116|                         4|                  116|      744.53|                        94.0|  Fully Funded|
|  0.0|(136,[0,17,22,28,...|          Mrs.|       Lab Equipment|     Math & Science|  California|        Grades 3-5|             2018| Teacher-Led|         suburban|         Mathematics|                 3|                     1.0|               109.0|          121|                         1|                 1763|      177.19|                        85.0|  Fully Funded|
|  0.0|(136,[0,10,27,28,...|          Mrs.|               Trips|      Special Needs|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|       Special Needs|                 5|      17.073218968002863|   313.0476482818557|           13|                         1|                  968|     1010.89|                        88.0|  Fully Funded|
|  1.0|(136,[0,10,27,28,...|          Mrs.|               Trips|      Special Needs|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|       Special Needs|                 1|      17.073218968002863|   313.0476482818557|           94|                         1|                  951|      2719.8|                        85.0|       Expired|
|  1.0|(136,[0,5,27,28,8...|          Mrs.|            Supplies|      Special Needs|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|       Special Needs|                 8|                    31.0|   78.80999994277954|          121|                         6|                 1179|      568.86|                        85.0|       Expired|
|  0.0|(136,[0,8,27,28,8...|          Mrs.|               Other|      Special Needs|  California|       Grades 9-12|             2015| Teacher-Led|         suburban|       Special Needs|                10|                    15.0|               116.0|          123|                         2|                  874|     1167.82|                        88.0|  Fully Funded|
|  0.0|(136,[0,5,27,28,8...|          Mrs.|            Supplies|      Special Needs|  California|       Grades 9-12|             2017| Teacher-Led|         suburban|       Special Needs|                 3|                    10.0|                10.0|          120|                         1|                 1391|      165.47|                        88.0|  Fully Funded|
|  0.0|(136,[0,8,27,28,8...|          Mrs.|               Other|      Special Needs|  California|       Grades 9-12|             2016| Student-Led|         suburban|       Special Needs|                 3|                    12.0|   141.9399995803833|          107|                         5|                 1000|      466.18|                        88.0|  Fully Funded|
|  0.0|(136,[0,8,27,33,7...|          Mrs.|               Other|      Special Needs|    Illinois|        Grades 6-8|             2014| Teacher-Led|            urban|       Special Needs|                 9|                     6.0|  255.63000535964966|          112|                         5|                  482|      347.85|                        86.0|  Fully Funded|
|  0.0|(136,[0,10,23,33,...|          Mrs.|               Trips|   Applied Learning|    Illinois|        Grades 6-8|             2014| Teacher-Led|            urban|     Extracurricular|                12|      17.073218968002863|   313.0476482818557|           76|                         1|                  522|     1468.24|                        86.0|  Fully Funded|
|  0.0|(136,[0,5,27,28,8...|          Mrs.|            Supplies|      Special Needs|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|       Special Needs|                 5|                     2.0|   117.4799976348877|          121|                         2|                 1094|      188.22|                        88.0|  Fully Funded|
|  0.0|(136,[0,6,27,33,7...|          Mrs.|          Technology|      Special Needs|    Illinois|        Grades 6-8|             2013| Teacher-Led|            urban|       Special Needs|                 9|                     2.0|   680.5299987792969|          118|                         2|                  118|      847.93|                        86.0|  Fully Funded|
|  0.0|(136,[0,6,27,33,7...|          Mrs.|          Technology|      Special Needs|    Illinois|        Grades 6-8|             2014| Teacher-Led|            urban|       Special Needs|                10|                     3.0|    379.989990234375|          118|                         1|                  504|     1396.55|                        86.0|  Fully Funded|
|  1.0|(136,[0,10,27,28,...|          Mrs.|               Trips|      Special Needs|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|       Special Needs|                12|      17.073218968002863|   313.0476482818557|           81|                         1|                 1277|     3701.24|                        85.0|       Expired|
|  0.0|(136,[0,7,21,28,8...|          Mrs.|               Books|Literacy & Language|  California|       Grades 9-12|             2016| Teacher-Led|         suburban|Literature & Writing|                 8|                    29.0|  101.57000064849854|          121|                         5|                 1179|      413.49|                        88.0|  Fully Funded|
|  0.0|(136,[0,5,26,28,8...|          Mrs.|            Supplies|   History & Civics|  California|       Grades 9-12|             2017| Teacher-Led|         suburban|     Social Sciences|                 9|                     7.0|   59.70000076293945|          122|                         4|                 1575|      174.11|                        88.0|  Fully Funded|
+-----+--------------------+--------------+--------------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+
only showing top 20 rows

In [22]:
ml_df.select('features').take(5)

[Row(features=SparseVector(136, {0: 1.0, 7: 1.0, 21: 1.0, 29: 1.0, 80: 1.0, 85: 1.0, 89: 1.0, 91: 1.0, 123: 1.0, 129: 72.0, 130: 202.47, 131: 120.0, 132: 25.0, 133: 436.0, 134: 698.15, 135: 80.0})),
 Row(features=SparseVector(136, {0: 1.0, 7: 1.0, 21: 1.0, 29: 1.0, 80: 1.0, 85: 1.0, 89: 1.0, 91: 1.0, 122: 1.0, 129: 30.0, 130: 43.49, 131: 129.0, 132: 6.0, 133: 129.0, 134: 294.95, 135: 80.0})),
 Row(features=SparseVector(136, {0: 1.0, 14: 1.0, 21: 1.0, 29: 1.0, 85: 1.0, 89: 1.0, 91: 1.0, 121: 1.0, 129: 2.0, 130: 314.99, 131: 120.0, 132: 2.0, 133: 532.0, 134: 411.42, 135: 80.0})),
 Row(features=SparseVector(136, {0: 1.0, 7: 1.0, 21: 1.0, 29: 1.0, 80: 1.0, 85: 1.0, 89: 1.0, 91: 1.0, 126: 1.0, 129: 50.0, 130: 70.3, 131: 122.0, 132: 7.0, 133: 317.0, 134: 424.45, 135: 80.0})),
 Row(features=SparseVector(136, {2: 1.0, 6: 1.0, 25: 1.0, 30: 1.0, 79: 1.0, 84: 1.0, 85: 1.0, 87: 1.0, 105: 1.0, 125: 1.0, 129: 24.0, 130: 91.7, 131: 116.0, 132: 4.0, 133: 116.0, 134: 744.53, 135: 94.0}))]

In [23]:
train, test = ml_df.randomSplit([0.7, 0.3],seed=2019)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Training Dataset Count: 740806
Test Dataset Count: 317146

In [27]:
train = train['features','label']

### Logistic Regression

In [24]:
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label', maxIter=10)
lrModel = lr.fit(train)
lr_predictions = lrModel.transform(test)

In [25]:
lr_predictions.show(5)

+-----+--------------------+--------------+----------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+--------------------+--------------------+----------+
|label|            features|teacher_prefix|project_resource|       project_cat1|school_state|project_grad_level|year_of_post_date|project_type|school_metro_type|     project_subcat1|month_of_post_date|resources_total_quantity|resources_amount_sum|days_diff_exp|number_of_resources_needed|teacher_date_diff_exp|project_cost|school_percentage_free_lunch|project_status|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------+----------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+--------------------+--------------------+----------+
|  0.0|(136,[0,5,21,28,7...|          Mrs.|        Supplies|Literacy & Language|  California|     Grades PreK-2|             2016| Teacher-Led|            urban|            Literacy|                 8|                     3.0|  414.65000343322754|          120|                         3|                 3906|      597.64|                        56.0|  Fully Funded|[0.95694008741547...|[0.72250874156607...|       0.0|
|  0.0|(136,[0,5,21,28,7...|          Mrs.|        Supplies|Literacy & Language|  California|     Grades PreK-2|             2016| Teacher-Led|            urban|            Literacy|                 8|                    23.0|  125.31999969482422|          120|                         7|                 3905|      548.13|                        56.0|  Fully Funded|[1.10557349031330...|[0.75130295251810...|       0.0|
|  0.0|(136,[0,5,21,28,7...|          Mrs.|        Supplies|Literacy & Language|  California|        Grades 3-5|             2017| Teacher-Led|            urban|Literature & Writing|                 3|                    15.0|  17.950000762939453|          121|                         1|                 1744|       385.8|                        48.0|  Fully Funded|[1.27222141090400...|[0.78112277966552...|       0.0|
|  0.0|(136,[0,5,21,28,7...|          Mrs.|        Supplies|Literacy & Language|  California|        Grades 3-5|             2017| Teacher-Led|            urban|                 ESL|                 7|                     1.0|  238.35000610351562|          122|                         1|                  122|      345.58|                        95.0|  Fully Funded|[1.02665715338429...|[0.73626730222589...|       0.0|
|  0.0|(136,[0,5,21,28,7...|          Mrs.|        Supplies|Literacy & Language|  California|        Grades 3-5|             2016| Teacher-Led|         suburban|Literature & Writing|                 1|                     8.0|   420.9400005340576|          119|                         8|                  280|      583.26|                        27.0|  Fully Funded|[1.16656383147614...|[0.76252335060925...|       0.0|
+-----+--------------------+--------------+----------------+-------------------+------------+------------------+-----------------+------------+-----------------+--------------------+------------------+------------------------+--------------------+-------------+--------------------------+---------------------+------------+----------------------------+--------------+--------------------+--------------------+----------+
only showing top 5 rows

In [26]:
#print evaluation metrics
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(lr_predictions, {evaluator.metricName: "areaUnderROC"})))

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction")

print('Accuracy:', evaluator.evaluate(lr_predictions, {evaluator.metricName: "accuracy"}))
print('F1 Score:', evaluator.evaluate(lr_predictions, {evaluator.metricName: "f1"}))

Test Area Under ROC: 0.7177818868445346
Accuracy: 0.7772949997792815
F1 Score: 0.7031607668747024

In [ ]:
print("Coefficients: " + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

In [24]:
import matplotlib.pyplot as plt
import numpy as np

trainingSummary = lrModel.summary
roc = trainingSummary.roc.toPandas()
plt.plot(roc['FPR'],roc['TPR'])
plt.ylabel('False Positive Rate')
plt.xlabel('True Positive Rate')
plt.title('ROC Curve')
plt.show()
print('Training set areaUnderROC: ' + str(trainingSummary.areaUnderROC))

Training set areaUnderROC: 0.7198936355732545

### Random Forest

In [27]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'label',numTrees=100)
rfModel = rf.fit(train)
rf_predictions = rfModel.transform(test)
rf_predictions.select('label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------------+----------+--------------------+
|label|       rawPrediction|prediction|         probability|
+-----+--------------------+----------+--------------------+
|  0.0|[77.3865740329326...|       0.0|[0.77386574032932...|
|  0.0|[78.9130997586067...|       0.0|[0.78913099758606...|
|  0.0|[79.3125358978453...|       0.0|[0.79312535897845...|
|  0.0|[78.9784264062311...|       0.0|[0.78978426406231...|
|  0.0|[77.9364753205222...|       0.0|[0.77936475320522...|
|  0.0|[79.2898321952912...|       0.0|[0.79289832195291...|
|  0.0|[76.0745443922988...|       0.0|[0.76074544392298...|
|  0.0|[79.1025776378987...|       0.0|[0.79102577637898...|
|  0.0|[75.0837610474281...|       0.0|[0.75083761047428...|
|  0.0|[76.1427046978135...|       0.0|[0.76142704697813...|
+-----+--------------------+----------+--------------------+
only showing top 10 rows

In [28]:
#print evaluation metrics
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(rf_predictions, {evaluator.metricName: "areaUnderROC"})))

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction")

print('Accuracy:', evaluator.evaluate(rf_predictions, {evaluator.metricName: "accuracy"}))
print('F1 Score:', evaluator.evaluate(rf_predictions, {evaluator.metricName: "f1"}))

Test Area Under ROC: 0.7001633551820505
Accuracy: 0.7736310721245104
F1 Score: 0.6748923664712432

In [29]:
rfModel.featureImportances

SparseVector(136, {0: 0.0008, 1: 0.0124, 2: 0.0, 3: 0.0001, 5: 0.0023, 6: 0.1096, 7: 0.0481, 8: 0.0, 9: 0.0449, 10: 0.0001, 11: 0.0366, 12: 0.028, 13: 0.0063, 14: 0.033, 15: 0.0226, 16: 0.0158, 18: 0.0001, 19: 0.0032, 21: 0.0002, 22: 0.0001, 23: 0.0, 24: 0.0001, 25: 0.0001, 26: 0.0, 30: 0.0013, 31: 0.0001, 32: 0.0, 33: 0.0003, 34: 0.0008, 35: 0.0044, 36: 0.0001, 37: 0.0, 38: 0.0031, 39: 0.0002, 40: 0.0002, 41: 0.0001, 42: 0.0009, 43: 0.0, 45: 0.0, 47: 0.009, 48: 0.0, 50: 0.0003, 51: 0.0003, 52: 0.0, 53: 0.0, 55: 0.0006, 56: 0.0, 58: 0.0003, 59: 0.0002, 60: 0.0, 61: 0.0, 62: 0.0, 63: 0.0, 65: 0.0, 68: 0.0, 71: 0.0, 72: 0.0, 74: 0.0001, 77: 0.0011, 78: 0.0001, 79: 0.0, 80: 0.0061, 81: 0.0401, 82: 0.0011, 83: 0.0017, 84: 0.0126, 85: 0.0009, 86: 0.0007, 87: 0.0436, 88: 0.0001, 89: 0.0042, 90: 0.0003, 91: 0.0004, 92: 0.0, 94: 0.0001, 96: 0.0, 97: 0.0001, 98: 0.0, 99: 0.0, 101: 0.0001, 102: 0.0, 103: 0.0, 104: 0.0014, 107: 0.0292, 108: 0.0002, 109: 0.0001, 110: 0.0001, 111: 0.0001, 112: 0.0001, 114: 0.0001, 115: 0.0, 118: 0.0003, 119: 0.0, 120: 0.0064, 121: 0.0003, 122: 0.0257, 123: 0.0076, 124: 0.0046, 125: 0.0069, 126: 0.0054, 127: 0.0011, 128: 0.0173, 129: 0.0065, 130: 0.1203, 131: 0.0023, 132: 0.0423, 133: 0.0208, 134: 0.1997, 135: 0.0009})

In [30]:
def ExtractFeatureImp(featureImp, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
        list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(list_extract)
    varlist['score'] = varlist['idx'].apply(lambda x: featureImp[x])
    return(varlist.sort_values('score', ascending = False))

In [31]:
ExtractFeatureImp(rfModel.featureImportances, rf_predictions, "features")[0:20]

     idx                                               name     score
5    134                                       project_cost  0.199699
1    130                               resources_amount_sum  0.120264
13     6                project_resourceclassVec_Technology  0.109606
14     7                     project_resourceclassVec_Books  0.048106
16     9       project_resourceclassVec_Computers & Tablets  0.044905
94    87                    school_metro_typeclassVec_urban  0.043625
3    132                         number_of_resources_needed  0.042336
88    81                     year_of_post_dateclassVec_2016  0.040117
18    11  project_resourceclassVec_Educational Kits & Games  0.036629
21    14  project_resourceclassVec_Reading Nooks Desks &...  0.033014
114  107                     project_subcat1classVec_Warmth  0.029178
19    12  project_resourceclassVec_Instructional Technology  0.028041
129  122                       month_of_post_dateclassVec_1  0.025706
22    15          project_resourceclassVec_Classroom Basics  0.022556
4    133                              teacher_date_diff_exp  0.020814
135  128                       month_of_post_dateclassVec_5  0.017316
23    16              project_resourceclassVec_Art Supplies  0.015841
91    84                     year_of_post_dateclassVec_2013  0.012606
8      1                         teacher_prefixclassVec_Ms.  0.012405
54    47                     school_stateclassVec_Louisiana  0.008993

### Gradient Boosting

In [32]:
from pyspark.ml.classification import GBTClassifier
gbt = GBTClassifier(maxIter=10)
gbtModel = gbt.fit(train)
gb_predictions = gbtModel.transform(test)
gb_predictions.select('label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------------+----------+--------------------+
|label|       rawPrediction|prediction|         probability|
+-----+--------------------+----------+--------------------+
|  0.0|[0.45690849040772...|       0.0|[0.71378059963248...|
|  0.0|[0.45690849040772...|       0.0|[0.71378059963248...|
|  0.0|[0.71370483691703...|       0.0|[0.80649739206479...|
|  0.0|[0.75298273397177...|       0.0|[0.81846251955810...|
|  0.0|[0.53829383018210...|       0.0|[0.74584768675451...|
|  0.0|[0.92995506010174...|       0.0|[0.86528647148212...|
|  0.0|[0.35235271263871...|       0.0|[0.66923019863204...|
|  0.0|[1.16911796354030...|       0.0|[0.91199460275360...|
|  0.0|[0.31731554744659...|       0.0|[0.65353880598453...|
|  0.0|[0.07787865713602...|       0.0|[0.53886079563713...|
+-----+--------------------+----------+--------------------+
only showing top 10 rows

In [33]:
#print evaluation metrics
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(gb_predictions, {evaluator.metricName: "areaUnderROC"})))

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction")

print('Accuracy:', evaluator.evaluate(gb_predictions, {evaluator.metricName: "accuracy"}))
print('F1 Score:', evaluator.evaluate(gb_predictions, {evaluator.metricName: "f1"}))

Test Area Under ROC: 0.730820596656474
Accuracy: 0.7814791925485423
F1 Score: 0.7254190399704524

In [34]:
ExtractFeatureImp(gbtModel.featureImportances, gb_predictions, "features")[0:20]

     idx                                          name     score
5    134                                  project_cost  0.330226
87    80                year_of_post_dateclassVec_2017  0.060403
28    21      project_cat1classVec_Literacy & Language  0.059584
94    87               school_metro_typeclassVec_urban  0.059013
88    81                year_of_post_dateclassVec_2016  0.054854
131  124                  month_of_post_dateclassVec_2  0.037360
91    84                year_of_post_dateclassVec_2013  0.035636
132  125                 month_of_post_dateclassVec_12  0.033945
129  122                  month_of_post_dateclassVec_1  0.032958
7      0                   teacher_prefixclassVec_Mrs.  0.028112
16     9  project_resourceclassVec_Computers & Tablets  0.026576
89    82                year_of_post_dateclassVec_2015  0.024362
42    35           school_stateclassVec_South Carolina  0.021848
135  128                  month_of_post_dateclassVec_5  0.021252
3    132                    number_of_resources_needed  0.020017
133  126                  month_of_post_dateclassVec_7  0.019659
45    38            school_stateclassVec_Massachusetts  0.018050
4    133                         teacher_date_diff_exp  0.015649
2    131                                 days_diff_exp  0.015404
6    135                  school_percentage_free_lunch  0.012612

### Cross Validation with Gradient Boosting

In [35]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="f1")

paramGrid = (ParamGridBuilder()
             .addGrid(gbt.maxIter, [10])
             .build())

cv = CrossValidator(estimator=gbt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)
cvModel = cv.fit(train)
cv_predictions= cvModel.transform(test)
evaluator.evaluate(cv_predictions)

0.7254190399704524